<style>
    .row{
        height:65vh;
    }
</style>
<% layout("/layout/boilerplate")%>
<div class="row">
  <div class="col-4 offset-2">
    <h2><%= err.status %> Error</h2>
    <h4><%= err.message %></h3>
  </div>
</div>