<style>
 .col-8{
  
 }
 
</style>
<% layout("/layout/boilerplate")%>
<div class="row">
  <div class="col-8 offset-2">
    <form action="/listing" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-2">
        <label for="listings[title]" class="form-label">title</label>
        <input type="text"  name="listings[title]" class="form-control" required>
        <div class="invalid-feedback">
          Please Enter title.
        </div>
      </div>
    
      <div div class="mb-2">
        <label for="listings[description]" class="form-label">description</label>
        <textarea name="listings[description]"  class="form-control" required></textarea>
          <div class="invalid-feedback">
        Enter description!.
      </div> 
      </div>
      <div class="mb-2">
        <label for="listings[image]" class="form-label" >upload image</label>
        <input type="file" name="listings[image]" class="form-control" >
          <div class="invalid-feedback">
        Enter image !.
      </div>
      </div>
    
      <div class="mb-2 ">
        <label for="listings[price]" class="form-label">Enter price</label>
        <input type="number" name="listings[price]"  class="form-control" required>
          <div class="invalid-feedback">
        Enter price !.
      </div>
      </div>
    
      <div class="mb-2">
        <label for="listings[country]" class="form-label">Enter country</label>
        <input type="text" name="listings[country]"  class="form-control" required>
          <div class="invalid-feedback">
        Enter country !.
      </div>
      </div>
    
      <div class="mb-2">
        <label for="listings[location]" class="form-label">Enter location</label>
        <input type="text" name="listings[location]" class="form-control" required>
          <div class="invalid-feedback">
        Enter location!.
      </div>
      </div>
    
      <button type="submit" class="btn btn-primary mb-2">click to submit</button>
        
    </form>
     
    
  </div>
</div>
