<style>
 .col-8{
  text-align: center;
 }
 
</style>
<% layout("/layout/boilerplate")%>
<div class="row">
  <div class="col-8 offset-2">
    <form action="/listing" method="post">
      <div class="mb-2">
        <label for="listings[title]" class="form-label"></label>
        <input type="text" placeholder="title" name="listings[title]" class="form-control">
      </div>
    
      <div div class="mb-2">
        <label for="listings[description]" class="form-label"></label>
        <textarea name="listings[description]" placeholder="description" class="form-control"></textarea>
      </div>
      <div class="mb-2">
        <label for="listings[image]" class="form-label"></label>
        <input type="text" name="listings[image]" placeholder="enter img url"  class="form-control">
      </div>
    
      <div class="mb-2">
        <label for="listings[price]" class="form-label"></label>
        <input type="number" name="listings[price]" placeholder="enter price" class="form-control">
      </div>
    
      <div class="mb-2">
        <label for="listings[country]" class="form-label"></label>
        <input type="text" name="listings[country]" placeholder="enter country" class="form-control">
      </div>
    
      <div class="mb-2">
        <label for="listings[location]" class="form-label"></label>
        <input type="text" name="listings[location]" placeholder="enter location" class="form-control">
      </div>
    
      <button type="submit" class="btn btn-primary mb-2">click to submit</button>
        
    </form>
    
    
  </div>
</div>